[submodule "pkg/awk/src"]
	path = pkg/awk/src
	url = https://github.com/onetrueawk/awk
[submodule "pkg/b3sum/src"]
	path = pkg/b3sum/src
	url = https://git.sr.ht/~mcf/b3sum
[submodule "pkg/bearssl/src"]
	path = pkg/bearssl/src
	url = https://www.bearssl.org/git/BearSSL
	ignore = all
[submodule "pkg/bzip2/src"]
	path = pkg/bzip2/src
	url = git://sourceware.org/git/bzip2.git
[submodule "pkg/catgirl/src"]
	path = pkg/catgirl/src
	url = https://git.causal.agency/catgirl
	ignore = all
[submodule "pkg/cproc/src"]
	path = pkg/cproc/src
	url = https://git.sr.ht/~mcf/cproc
[submodule "pkg/dosfstools/src"]
	path = pkg/dosfstools/src
	url = https://github.com/dosfstools/dosfstools
	ignore = all
[submodule "pkg/e2fsprogs/src"]
	path = pkg/e2fsprogs/src
	url = https://git.kernel.org/pub/scm/fs/ext2/e2fsprogs.git
	ignore = all
[submodule "pkg/elftoolchain/elftoolchain"]
	path = pkg/elftoolchain/src
	url = https://github.com/elftoolchain/elftoolchain.git
	ignore = all
[submodule "pkg/file/src"]
	path = pkg/file/src
	url = https://github.com/file/file
[submodule "pkg/fspec-sync/src"]
	path = pkg/fspec-sync/src
	url = https://github.com/oasislinux/fspec-sync.git
[submodule "pkg/git/src"]
	path = pkg/git/src
	url = https://github.com/git/git
	ignore = all
[submodule "pkg/kiss/src"]
	path = pkg/kiss/src
	url = https://codeberg.org/kiss-community/kiss
	ignore = all
[submodule "pkg/iproute2/src"]
	path = pkg/iproute2/src
	url = https://git.kernel.org/pub/scm/linux/kernel/git/shemminger/iproute2.git
	ignore = all
[submodule "pkg/libcbor/src"]
	path = pkg/libcbor/src
	url = https://github.com/PJK/libcbor.git
[submodule "pkg/libevent/src"]
	path = pkg/libevent/src
	url = https://github.com/libevent/libevent
[submodule "pkg/libfido2/src"]
	path = pkg/libfido2/src
	url = https://github.com/oasislinux/libfido2.git
[submodule "pkg/libnl/src"]
	path = pkg/libnl/src
	url = https://github.com/thom311/libnl
	ignore = all
[submodule "pkg/libtls-bearssl/src"]
	path = pkg/libtls-bearssl/src
	url = https://git.sr.ht/~mcf/libtls-bearssl
	ignore = all
[submodule "pkg/libutp/src"]
	path = pkg/libutp/src
	url = https://github.com/oasislinux/libutp.git
[submodule "pkg/musl/src"]
	path = pkg/musl/src
	url = git://git.musl-libc.org/musl
	ignore = all
[submodule "pkg/netbsd-curses/src"]
	path = pkg/netbsd-curses/src
	url = https://github.com/oasislinux/netbsd-curses.git
	ignore = all
[submodule "pkg/oksh/src"]
	path = pkg/oksh/src
	url = https://github.com/ibara/oksh.git
[submodule "pkg/openssh/src"]
	path = pkg/openssh/src
	url = https://github.com/oasislinux/openssh.git
[submodule "pkg/pigz/src"]
	path = pkg/pigz/src
	url = https://github.com/madler/pigz
[submodule "pkg/rc/src"]
	path = pkg/rc/src
	url = https://github.com/benavento/rc.git
	ignore = all
[submodule "pkg/rcinit/src"]
	path = pkg/rcinit/src
	url = https://github.com/hovercats/rcinit
[submodule "pkg/rcsm/src"]
	path = pkg/rcsm/src
	url = https://github.com/hovercats/rcsm
[submodule "pkg/samurai/src"]
	path = pkg/samurai/src
	url = https://github.com/michaelforney/samurai
[submodule "pkg/sbase/src"]
	path = pkg/sbase/src
	url = https://git.suckless.org/sbase
	ignore = all
[submodule "pkg/sdhcp/src"]
	path = pkg/sdhcp/src
	url = https://github.com/michaelforney/sdhcp
[submodule "pkg/tinyalsa/src"]
	path = pkg/tinyalsa/src
	url = https://github.com/tinyalsa/tinyalsa.git
	ignore = all
[submodule "pkg/tz/src"]
	path = pkg/tz/src
	url = https://github.com/eggert/tz
[submodule "pkg/ubase/src"]
	path = pkg/ubase/src
	url = https://github.com/michaelforney/ubase
	ignore = all
[submodule "pkg/util-linux/src"]
	path = pkg/util-linux/src
	url = https://git.kernel.org/pub/scm/utils/util-linux/util-linux.git
	ignore = all
[submodule "pkg/vis/src"]
	path = pkg/vis/src
	url = https://github.com/martanne/vis
	ignore = all
[submodule "pkg/xz/src"]
	path = pkg/xz/src
	url = https://github.com/tukaani-project/xz.git
[submodule "pkg/zlib/src"]
	path = pkg/zlib/src
	url = https://github.com/madler/zlib
[submodule "pkg/qbe/src"]
	path = pkg/qbe/src
	url = git://c9x.me/qbe.git
	ignore = all
[submodule "pkg/quark/src"]
	path = pkg/quark/src
	url = git://git.suckless.org/quark
[submodule "pkg/zstd/src"]
	path = pkg/zstd/src
	url = https://github.com/facebook/zstd
	ignore = all
[submodule "pkg/the_silver_searcher/src"]
	path = pkg/the_silver_searcher/src
	url = https://github.com/ggreer/the_silver_searcher
	ignore = all
[submodule "pkg/smu/src"]
	path = pkg/smu/src
	url = https://github.com/gottox/smu
[submodule "pkg/libinput/src"]
	path = pkg/libinput/src
	url = https://github.com/oasislinux/libinput
[submodule "pkg/mtdev/src"]
	path = pkg/mtdev/src
	url = http://bitmath.org/git/mtdev.git
	ignore = all
[submodule "pkg/libevdev/src"]
	path = pkg/libevdev/src
	url = https://gitlab.freedesktop.org/libevdev/libevdev.git
	ignore = all
[submodule "pkg/pixman/src"]
	path = pkg/pixman/src
	url = https://gitlab.freedesktop.org/pixman/pixman.git
	ignore = all
[submodule "pkg/dmenu/src"]
	path = pkg/dmenu/src
	url = git://git.suckless.org/dmenu
	ignore = all
[submodule "pkg/xkeyboard-config/src"]
	path = pkg/xkeyboard-config/src
	url = https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config.git
[submodule "pkg/wld/src"]
	path = pkg/wld/src
	url = https://github.com/michaelforney/wld
[submodule "pkg/wayland-protocols/src"]
	path = pkg/wayland-protocols/src
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "pkg/wayland/src"]
	path = pkg/wayland/src
	url = https://gitlab.freedesktop.org/wayland/wayland.git
	ignore = all
[submodule "pkg/velox/src"]
	path = pkg/velox/src
	url = https://github.com/michaelforney/velox
[submodule "pkg/swc/src"]
	path = pkg/swc/src
	url = https://github.com/michaelforney/swc
[submodule "pkg/utf8proc/src"]
	path = pkg/utf8proc/src
	url = https://github.com/JuliaLang/utf8proc
[submodule "pkg/st/src"]
	path = pkg/st/src
	url = git://git.suckless.org/st
	ignore = all
[submodule "pkg/freetype/src"]
	path = pkg/freetype/src
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "pkg/jbig2dec/src"]
	path = pkg/jbig2dec/src
	url = git://git.ghostscript.com/jbig2dec.git
[submodule "pkg/libffi/src"]
	path = pkg/libffi/src
	url = https://github.com/libffi/libffi
	ignore = all
[submodule "pkg/libpng/src"]
	path = pkg/libpng/src
	url = https://github.com/glennrp/libpng
[submodule "pkg/mupdf/src"]
	path = pkg/mupdf/src
	url = https://github.com/oasislinux/mupdf.git
[submodule "pkg/expat/src"]
	path = pkg/expat/src
	url = https://github.com/libexpat/libexpat
[submodule "pkg/libxkbcommon/src"]
	path = pkg/libxkbcommon/src
	url = https://github.com/xkbcommon/libxkbcommon.git
	ignore = all
[submodule "pkg/libdrm/src"]
	path = pkg/libdrm/src
	url = https://anongit.freedesktop.org/git/mesa/drm.git
[submodule "pkg/libjpeg-turbo/src"]
	path = pkg/libjpeg-turbo/src
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "pkg/netsurf/src"]
	path = pkg/netsurf/src
	url = https://github.com/oasislinux/netsurf
[submodule "pkg/netsurf/libcss/src"]
	path = pkg/netsurf/libcss/src
	url = git://git.netsurf-browser.org/libcss.git
	ignore = all
[submodule "pkg/netsurf/libdom/src"]
	path = pkg/netsurf/libdom/src
	url = git://git.netsurf-browser.org/libdom.git
	ignore = all
[submodule "pkg/netsurf/libhubbub/src"]
	path = pkg/netsurf/libhubbub/src
	url = git://git.netsurf-browser.org/libhubbub.git
[submodule "pkg/netsurf/libnsbmp/src"]
	path = pkg/netsurf/libnsbmp/src
	url = git://git.netsurf-browser.org/libnsbmp.git
[submodule "pkg/netsurf/libnsgif/src"]
	path = pkg/netsurf/libnsgif/src
	url = git://git.netsurf-browser.org/libnsgif.git
[submodule "pkg/netsurf/libnsutils/src"]
	path = pkg/netsurf/libnsutils/src
	url = git://git.netsurf-browser.org/libnsutils.git
[submodule "pkg/netsurf/libparserutils/src"]
	path = pkg/netsurf/libparserutils/src
	url = git://git.netsurf-browser.org/libparserutils.git
[submodule "pkg/netsurf/libsvgtiny/src"]
	path = pkg/netsurf/libsvgtiny/src
	url = git://git.netsurf-browser.org/libsvgtiny.git
	ignore = all
[submodule "pkg/netsurf/libwapcaplet/src"]
	path = pkg/netsurf/libwapcaplet/src
	url = git://git.netsurf-browser.org/libwapcaplet.git
	ignore = all
[submodule "pkg/hotplugd/src"]
	path = pkg/hotplugd/src
	url = https://github.com/oasislinux/hotplugd.git
[submodule "pkg/alsa-lib/src"]
	path = pkg/alsa-lib/src
	url = https://github.com/alsa-project/alsa-lib.git
	ignore = all
[submodule "pkg/mpv/src"]
	path = pkg/mpv/src
	url = https://github.com/mpv-player/mpv
	ignore = all
[submodule "pkg/ffmpeg/src"]
	path = pkg/ffmpeg/src
	url = https://git.ffmpeg.org/ffmpeg.git
	ignore = all
[submodule "pkg/libplacebo/src"]
	path = pkg/libplacebo/src
	url = https://code.videolan.org/videolan/libplacebo.git
[submodule "pkg/dav1d/src"]
	path = pkg/dav1d/src
	url = https://github.com/videolan/dav1d.git
	ignore = all
[submodule "pkg/libass/src"]
	path = pkg/libass/src
	url = https://github.com/libass/libass
	ignore = all
[submodule "pkg/fribidi/src"]
	path = pkg/fribidi/src
	url = https://github.com/fribidi/fribidi
[submodule "pkg/u-config/src"]
	path = pkg/u-config/src
	url = https://github.com/skeeto/u-config
[submodule "pkg/scdoc/src"]
	path = pkg/scdoc/src
	url = https://git.sr.ht/~sircmpwn/scdoc
[submodule "pkg/muon/src"]
	path = pkg/muon/src
	url = https://git.sr.ht/~lattis/muon/
	ignore = all
[submodule "pkg/libpkgconf/src"]
	path = pkg/libpkgconf/src
	url = https://github.com/pkgconf/pkgconf
[submodule "pkg/fuse/src"]
	path = pkg/fuse/src
	url = https://github.com/libfuse/libfuse
	ignore = all
[submodule "pkg/squashfs-tools-ng/src"]
	path = pkg/squashfs-tools-ng/src
	url = https://github.com/AgentD/squashfs-tools-ng
[submodule "pkg/bubblewrap/src"]
	path = pkg/bubblewrap/src
	url = https://github.com/containers/bubblewrap
	ignore = all
[submodule "pkg/tamzen-font/src"]
	path = pkg/tamzen-font/src
	url = https://github.com/sunaku/tamzen-font
[submodule "pkg/pdpmake/src"]
	path = pkg/pdpmake/src
	url = https://github.com/rmyorston/pdpmake
[submodule "pkg/xxhash/src"]
	path = pkg/xxhash/src
	url = https://github.com/Cyan4973/xxHash
[submodule "pkg/lz4/src"]
	path = pkg/lz4/src
	url = https://github.com/lz4/lz4
[submodule "pkg/ncompress/src"]
	path = pkg/ncompress/src
	url = https://github.com/vapier/ncompress
